/*########## Defaults ##########*/
body {
    background: #fff;
    color: black;
}

/*########## Navbar ##########*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.brand,
.navbar-list-link,
.navbar-list-dropdown-link{
    text-transform: uppercase;
    color: #303137;
    font-weight: bold;
}

.brand,
.brand-second-color {
    font-size: 2rem;
}

.brand-second-color {
    color: red;
}

.navbar-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.navbar-list.responsive {
    display: flex;
}

.navbar-list .navbar-list-link,
.navbar-list .navbar-list-dropdown-link{
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
    font-size: 1.5rem;
}

a.navbar-list-dropdown-link {
    display: none;
}

@media (max-width:768px) {

    /*########## Navbar sm ##########*/
    .navbar {
        align-items: flex-start;
    }

    ul.navbar-list li a.navbar-list-link{
        display: none;
    }

    ul.navbar-list a.navbar-list-dropdown-link {
        display: flex;
    }

    ul.navbar-list.responsive li a.navbar-list-link{
        display: flex;
        line-height: 2rem;

    }

    ul.navbar-list.responsive {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    ul.navbar-list.responsive :nth-child(1) {order: 2;}
    ul.navbar-list.responsive :nth-child(2) {order: 3;}
    ul.navbar-list.responsive :nth-child(3) {order: 4;}
    ul.navbar-list.responsive :nth-child(4) {order: 5;}
    ul.navbar-list.responsive :nth-child(5) {order: 1;}
}

/*########## Header ##########*/
header {
    display: flex;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3rem 0;
}


.header-wrapper img {
    flex-basis: 100%;
    max-width: 200px;
    padding: 5%;
    border-radius: 50%;
}

.header-wrapper h1 {
    font-size: 3rem;     
    font-weight: 900;
}

/*########## Section 1##########*/
section.services {
    background-color: #f1f3fa;
    padding: 4rem 1rem;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.media-object {
    display: flex;
    margin: 5% 0;
    align-items: center;
}

.icon-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

img.icon {
    width: 227px;
}

.blurb-wrapper {
    flex: 1;
}

.blurb-wrapper h3 {
    font-size: 1.7rem;
    margin-top: 0;
}

.blurb-info p {
    margin: 0;
    color: #646b90;
    font-size: 1.1rem;
}

.icon-wrapper.right {
    order: 2;
}

.blurb-wrapper.left {
    order: 1;
    text-align: end;
}

.quote-btn-wrapper {
    display: flex;
    justify-content: center;
}

button.quote-btn {
    padding: 0.8rem 4rem;
    background-color: #66b6d3;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    color: white;
    box-shadow: 0 5px 20px rgb(0 0 0 / 30%);
    border-radius: 7px;
}

@media (max-width: 599px) {
    .media-object {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icon-wrapper.right {
        order: 1;
    }

    .blurb-wrapper.left {
        order: 2;
    }

    div.media-object .blurb-wrapper {
        text-align: center;
    }

    .blurb-wrapper h3 {
        font-size: 1.7rem;
        margin: 1rem 0 .5rem;
    }
    .quote-btn-wrapper {
      margin-top: 2rem;
    }

}

/*########## Section 2##########*/
.section-header {
    text-align: center;
    font-size: 2rem;
    padding: 4rem 0 4rem;
}

.porfolio-box {
    width: 250px;
    height: 250px;
    background-color: #66b6d3;
    transition: .2s ease-in-out;
}

.porfolio-box:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.portfolio-object-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.portfolio-object {
    max-width: 250px;
    margin: 1%;
    text-align:center;
}

@media (max-width: 599px) {
    .portfolio-object-wrapper {
        justify-content: center;
    }
}
/*########## Contact form##########*/
.contact-container {
    background-color: #f1f3fa;
}



